doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title New page
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(href="img/favicon.svg" rel="icon" type="image/svg+xml")
            link(rel="stylesheet" href="css/style.css")
    body
        block header
            include header
        block content
        block move-up
            include move-up
        block popups
            include popups
        block scripts
            script(src='js/main.js' type='module')