section.about-section
  .about-section__container.container
    .about-section__inner.inner
      .about-section__team
        a.about-section__team-wrapper(data-fslightbox="my team" href="./img/team.jpg")
          img.about-section__team-image(src="./img/team.jpg", alt="my team")
      .about-section__feedback
        h2.about-section__feedback-title Твоя работа <br> в крупнейшем интеграторе цифрового производства
        a.about-section__feedback-button.js_popup-link(href="#popup-resume") Отправить резюме
        span.about-section__feedback-agree Нажимая кнопку, вы соглашаетесь на обработку персональных данных.
      .about-section__about Top 3D Shop – лидер по продажам 3D-оборудования в России и странах СНГ. В 2018 мы стали лучшим интегратором 3D оборудования по аддитивным технологиям и цифровому производству по версии <a href="#">3D Print Awards</a>.<br><br>  За 6 лет работы более 10 000 клиентов по всей России и СНГ выбрали Top 3D Shop. В 2018 наш оборот составил 600 млн. рублей, в компании работает более 100 сотрудников.<br><br>Новая цель: 1 млрд торгового оборота в этом году и выход на международные рынки. Если вы — целеустремленный специалист, готовый учиться новым навыкам и учить других, мыслите не просто как исполнитель, а как владелец своего направления, то нам по пути!
      span.about-section__subtitle Лучше один раз увидеть:
      .about-section__line
      a.about-section__link.about-section__link_inside(href="#") Как устроена наша компания изнутри
      a.about-section__link.about-section__link_building(href="#") Как создавалась компания - необычная история
      a.about-section__link.about-section__link_to-read(href="#") Читай о нас на 3D Today