section.checks-section
  .checks-section__container.container
    .checks-section__inner.inner
      .checks-section__title.title
        h2._an-i._nra._an-up Чексы
      .checks-section__box.checks-section__box_stairs
        .checks-section__stairs.stairs

          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='1' style = "--lvl:1")
            input(type="checkbox")
            span.checkbox__fake
            | Выбрать всё
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='2' style = "--lvl:2")
            input(type="checkbox")
            span.checkbox__fake
            | Друг друга
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='2' style = "--lvl:2")
            input(type="checkbox")
            span.checkbox__fake
            | Друг папы
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='2' style = "--lvl:2")
            input(type="checkbox")
            span.checkbox__fake
            | Папа
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='3' style = "--lvl:3")
            input(type="checkbox")
            span.checkbox__fake
            | Дочка
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='3' style = "--lvl:3")
            input(type="checkbox")
            span.checkbox__fake
            | Сын
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='4' style = "--lvl:4")
            input(type="checkbox")
            span.checkbox__fake
            | Внучка
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='4' style = "--lvl:4")
            input(type="checkbox")
            span.checkbox__fake
            | Жучка
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='3' style = "--lvl:3")
            input(type="checkbox")
            span.checkbox__fake
            | Приёмыш
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='4' style = "--lvl:4")
            input(type="checkbox")
            span.checkbox__fake
            | Внук
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='4' style = "--lvl:4")
            input(type="checkbox")
            span.checkbox__fake
            | Барсук

          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='2' style = "--lvl:2")
            input(type="checkbox")
            span.checkbox__fake
            | Генеральный ларька
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='3' style = "--lvl:3")
            input(type="checkbox")
            span.checkbox__fake
            | Директор по закупкам
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='3' style = "--lvl:3")
            input(type="checkbox")
            span.checkbox__fake
            | Директор по продажам
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='4' style = "--lvl:4")
            input(type="checkbox")
            span.checkbox__fake
            | Начальник по продажам
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='5' style = "--lvl:5")
            input(type="checkbox")
            span.checkbox__fake
            | Продавец-консультант
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='5' style = "--lvl:5")
            input(type="checkbox")
            span.checkbox__fake
            | Кассир
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='5' style = "--lvl:5")
            input(type="checkbox")
            span.checkbox__fake
            | Уборщица
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='6' style = "--lvl:6")
            input(type="checkbox")
            span.checkbox__fake
            | Плюшевый мишка
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='4' style = "--lvl:4")
            input(type="checkbox")
            span.checkbox__fake
            | Начальник по возвратам
          label.stairs__lvl.checkbox._an-i._nra._an-up(data-lvl='2' style = "--lvl:2")
            input(type="checkbox")
            span.checkbox__fake
            | Кто-то ещё