section.full-section
  .full-section__container.full-section__container_full.container
    .full-section__inner.inner
      .full-section__title.title
        h2._an-i._nra._an-up Шире некуда
      .full-section__box.full-section__box_full
        .full-section__full.parallax
          .parallax__text-box
            span.parallax__text(data-mt='2.75', style='--fs: 0.93') SPACE
            span.parallax__text(data-mt='2.5', style='--fs: 0.94') SPACE
            span.parallax__text(data-mt='2.25', style='--fs: 0.95') SPACE
            span.parallax__text(data-mt='2', style='--fs: 0.96') SPACE
            span.parallax__text(data-mt='1.75', style='--fs: 0.97') SPACE
            span.parallax__text(data-mt='1.5', style='--fs: 0.98') SPACE
            span.parallax__text(data-mt='1.25', style='--fs: 0.99') SPACE
            span.parallax__text(data-mt='1', style='--fs: 1') SPACE
          .parallax__star-box
            .parallax__star(style='--shine:.2;--x: 40%; --y: 18%; --str:1; --sz:1')
            .parallax__star(style='--shine:.3;--x: 78%; --y: 94%; --str:1; --sz:1')
            .parallax__star(style='--shine:.8;--x: 78%; --y: 4%; --str:.8; --sz:.8')
            .parallax__star(style='--shine:.9;--x: 31%; --y: 65%; --str:.8; --sz:.8')
            .parallax__star(style='--shine:.4;--x: 10%; --y: 32%; --str:.8; --sz:.8')
            .parallax__star(style='--shine:.3;--x: 18%; --y: 45%; --str:.6; --sz:.6')
            .parallax__star(style='--shine:.5;--x: 94%; --y: 38%; --str:.6; --sz:.6')
            .parallax__star(style='--shine:.7;--x: 2%; --y: 11%; --str:.6; --sz:.6')
            .parallax__star(style='--shine:.9;--x: 15%; --y: 69%; --str:.6; --sz:.6')
            .parallax__star(style='--shine:.1;--x: 20%; --y: 30%; --str:.4; --sz:.4')
            .parallax__star(style='--shine:.4;--x: 49%; --y: 74%; --str:.4; --sz:.4')
            .parallax__star(style='--shine:.5;--x: 11%; --y: 94%; --str:.4; --sz:.4')
            .parallax__star(style='--shine:.9;--x: 66%; --y: 14%; --str:.4; --sz:.4')
            .parallax__star(style='--shine:.6;--x: 78%; --y: 18%; --str:.4; --sz:.4')
            .parallax__star(style='--shine:.6;--x: 24%; --y: 66%; --str:.2; --sz:.2')
            .parallax__star(style='--shine:.7;--x: 83%; --y: 79%; --str:.2; --sz:.2')
            .parallax__star(style='--shine:.3;--x: 60%; --y: 44%; --str:.2; --sz:.2')
            .parallax__star(style='--shine:.4;--x: 20%; --y: 32%; --str:.2; --sz:.2')
            .parallax__star(style='--shine:.8;--x: 80%; --y: 46%; --str:.2; --sz:.2')
            .parallax__star(style='--shine:.9;--x: 94%; --y: 34%; --str:.2; --sz:.2')
            .parallax__star(style='--shine:.1;--x: 52%; --y: 97%; --str:.2; --sz:.2')
      .full-section__box.full-section__box_full
        .full-section__full.scroll-parallax
          .scroll-parallax__item.scroll-parallax__item_1
          .scroll-parallax__item.scroll-parallax__item_2
          .scroll-parallax__item.scroll-parallax__item_3
          .scroll-parallax__item.scroll-parallax__item_4