section.gallery-section
  .gallery-section__container.container
    .gallery-section__inner.inner
      .gallery-section__title.title
        h2._an-i._nra._an-up Галерея
      .gallery-section__box.gallery-section__box_gallery
        .gallery-section__gallery.gallery
          a.gallery__link(data-fslightbox, href="./img/photo1.jpg")
            img(src="./img/photo1.jpg", alt="photo")
          a.gallery__link(data-fslightbox, href="./img/photo2.jpg")
            img(src="./img/photo2.jpg", alt="photo")
          a.gallery__link(data-fslightbox, href="./img/photo3.jpg")
            img(src="./img/photo3.jpg", alt="photo")
          a.gallery__link(data-fslightbox, href="./img/photo4.jpg")
            img(src="./img/photo4.jpg", alt="photo")
          a.gallery__link(data-fslightbox, href="./img/photo5.jpg")
            img(src="./img/photo5.jpg", alt="photo")
          a.gallery__link(data-fslightbox, href="./img/photo6.jpg")
            img(src="./img/photo6.jpg", alt="photo")
          a.gallery__link(data-fslightbox, href="./img/photo7.jpg")
            img(src="./img/photo7.jpg", alt="photo")
