section.sliders
  .sliders__container.container
    .sliders__inner.inner
      .sliders__title.title
        h2._an-i._nra._an-up Слайдеры
      .sliders__box.sliders__box_slider
        .sliders__slider.slider
          .slider__wrapper.swiper-wrapper
            .swiper-slide.slider__item slide #1
            .swiper-slide.slider__item.slider__item_green slide #2
            .swiper-slide.slider__item.slider__item_pink slide #3
            .swiper-slide.slider__item.slider__item_orange slide #4
            .swiper-slide.slider__item.slider__item_blue slide #5
          .slider__navigation-box
            .slider__button.slider__button_prev
            .slider__pagination
            .slider__button.slider__button_next
            .slider__scrollbar