section.tabs-section
  .tabs-section__container.container
    .tabs-section__inner.inner
      .tabs-section__title.title
        h2._an-i._nra._an-up Табы
      .tabs-section__box.tabs-section__box_tabs
        .tabs-section__title.title.title_less
          h3._an-i._nra._an-up Обычные табы
        .tabs-section__tabs.tabs
          //tab
          .tabs__tab-road
            .tabs__tab.tabs__tab_active Кнопка #1
            .tabs__tab Кнопка с длинным названием #2
            .tabs__tab Кнопка #3
          .tabs__item-body.tabs__item-body_active
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus exercitationem velit maxime minus fugiat dolorum necessitatibus recusandae molestiae reprehenderit, hic et voluptatibus, iste odit reiciendis repellat ut libero temporibus.
          .tabs__item-body
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          .tabs__item-body
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus exercitationem velit maxime minus fugiat dolorum necessitatibus recusandae molestiae reprehenderit, hic et voluptatibus, iste odit reiciendis repellat ut libero temporibus. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      .tabs-section__box.tabs-section__box_tabs.tabs-section__box_tabs-vertical
        .tabs-section__title.title.title_less
          h3._an-i._nra._an-up Вертикальные табы 
        .tabs-section__tabs.tabs.tabs_vertical
          //tab
          .tabs__tab-road
            .tabs__tab.tabs__tab_active Кнопка #1
            .tabs__tab Кнопка с длинным названием #2
            .tabs__tab Кнопка #3
          .tabs__item-body.tabs__item-body_active
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus exercitationem velit maxime minus fugiat dolorum necessitatibus recusandae molestiae reprehenderit, hic et voluptatibus, iste odit reiciendis repellat ut libero temporibus.
          .tabs__item-body
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          .tabs__item-body
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus exercitationem velit maxime minus fugiat dolorum necessitatibus recusandae molestiae reprehenderit, hic et voluptatibus, iste odit reiciendis repellat ut libero temporibus. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      .tabs-section__box.tabs-section__box_tabs.tabs-section__box_tabs-spoiler
        .tabs-section__title.title.title_less
          h3._an-i._nra._an-up Спойлер-табы 
        .tabs-section__tabs.tabs.tabs_spoiler
          //tab
          .tabs__tab.tabs__tab_active Кнопка #1
          .tabs__item-body.tabs__item-body_active
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus exercitationem velit maxime minus fugiat dolorum necessitatibus recusandae molestiae reprehenderit, hic et voluptatibus, iste odit reiciendis repellat ut libero temporibus.
          .tabs__tab Кнопка с длинным названием #2
          .tabs__item-body
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          .tabs__tab Кнопка #3
          .tabs__item-body
            .tabs__item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus exercitationem velit maxime minus fugiat dolorum necessitatibus recusandae molestiae reprehenderit, hic et voluptatibus, iste odit reiciendis repellat ut libero temporibus. Lorem ipsum dolor, sit amet consectetur adipisicing elit.