section.tilt-section
  .tilt-section__container.tilt-section__container_tilt.container
    .tilt-section__inner.inner
      .tilt-section__title.title
        h2._an-i._nra._an-up Наклоны
      .tilt-section__box.tilt-section__box_tilt
        .tilt-section__tilt.tilt
          .card
            .card__ghost(style = '--d: 0s')
            .card__ghost(style = '--d: -1.4s')
            .card__ghost(style = '--d: -3.3s')
            .card__ghost(style = '--d: -5.7s')
            .card__ghost(style = '--d: -9.1s')
            .card__body
              img.card__img(src="./img/helen.jpg", alt="helen")
              a.card__link(data-fslightbox="second-lightbox" href="./img/helen.jpg")
              .card__info
                span.card__text.card__text_name
                  span Елена Пантелеймонова
                span.card__text
                  span совладелец интернет-портала
                span.card__text.card__text_phone
                  a(href="phone:79850758956") телефон: +7 (985) 075-89-56
                span.card__text.card__text_email
                  a(href="tomail:artist-pilot@berry.love") почта: artist-pilot@berry.love
                span.card__text.card__text_quote
                  span "Ты давно меня полюбил. А вчера, я почувствовала как полюбила тебя."
