section.video-section
  .video-section__container.container
    .video-section__inner.inner
      .video-section__title.title
        h2._an-i._nra._an-up Видео
      .video-section__box.video-section__box_video
        .video-section__video.video.video_stop
          video.video__field
            source(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4')
          .video__face
          .video__panel
            .video__playpause
            .video__stop
            .video__progress
              .video__progress-line
              .video__target-line
            .video__volume
      .video-section__box.video-section__box_video
        .video-section__video.video.video_stop
          video.video__field
            source(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4')
          .video__face
          .video__panel
            .video__playpause
            .video__stop
            .video__progress
              .video__progress-line
              .video__target-line
            .video__volume
      .video-section__box.video-section__box_video
        .video-section__video.video-yt
          .video-yt__field(data-video = '_DYAnU3H7RI')
          .video-yt__face
      .video-section__box.video-section__box_video
        .video-section__video.video-yt
          .video-yt__field(data-video = 'M7lc1UVf-VE')
          .video-yt__face