/* burger - vars*/
* {
  --burger__button-el--height: 15%;
  --burger__button-el_bottom--translate: 270%;
  --burger__button-el_top--translate: -270%;
  --burger__button-wrapper--padding: 75%;
}

/* burger - keyframes */
@keyframes rotate-top-active {
  0% {transform: translateY(var(--burger__button-el_top--translate)) rotate(0)}
  40% {transform: translateY(0) rotate(0deg)}
  60% {transform: translateY(0) rotate(0deg) scaleY(0.1)}
  100% {transform: translateY(0) rotate(45deg) scaleY(1)}
}
@keyframes rotate-top-unactive {
  0% {transform: translateY(0) rotate(45deg)}
  50% {transform: translateY(0) rotate(0deg)}
  100% {transform: translateY(var(--burger__button-el_top--translate)) rotate(0)}
}
@keyframes rotate-bottom-active {
  0% {transform: translateY(var(--burger__button-el_bottom--translate)) rotate(0)}
  40% {transform: translateY(0) rotate(-0deg)}
  60% {transform: translateY(0) rotate(-0deg) scaleY(0.1)}
  100% {transform: translateY(0) rotate(-45deg) scaleY(1)}
}
@keyframes rotate-bottom-unactive {
  0% {transform: translateY(0) rotate(-45deg)}
  50% {transform: translateY(0) rotate(-0deg)}
  100% {transform: translateY(var(--burger__button-el_bottom--translate)) rotate(0)}
}

/* burger */
.burger {
  /*burger - button*/
  &__button-wrapper {
    position: relative;
    width: 40px;
    padding-top: var(--burger__button-wrapper--padding);
  }
  &__button {
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &__button-el {
    position: absolute;
    width: 100%;
    height: var(--burger__button-el--height);
    background-color: black;
    &_top {
      transform: translateY(var(--burger__button-el_top--translate));
      .burger_unactive  & {
        animation: rotate-top-unactive .3s ease-out 0s normal forwards;
      }
      .burger_active  & {
        animation: rotate-top-active .3s ease-out 0s normal forwards;
      }
    }
    &_middle {
      transition: 0.3s;
      .burger_unactive  & {
        height: var(--burger__button-el--height);
        opacity: 1;
      }
      .burger_active  & {
        height: 30%;
        opacity: 0;
      }
    }
    &_bottom {
      transform: translateY(var(--burger__button-el_bottom--translate));
      .burger_unactive  & {
        animation: rotate-bottom-unactive .3s ease-out 0s normal forwards;
      }
      .burger_active  & {
        animation: rotate-bottom-active .3s ease-out 0s normal forwards;
      }
    }
  }
  /* burger - body */
  &__body {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    .burger_active  & {
      display: block;
      z-index: 9;
    }
  }
  &__container {}
  &__inner {
    display: grid;
  }
  &__nav {
    grid-column: 3/-3;
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      width: 100%;
      & a {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: black;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}