.checks-section {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  &__container {

  }
  &__inner {
    padding: 20px 0;
    grid-row-gap: 30px;
  }
  &__title {
    grid-column: 1/-1;
    display: grid;
    width: 100%;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    &_stairs {
      grid-column: 1/-1;
    }
  }
  &__stairs {
    width: 100%;
  }
}