.dropdown {
  position: relative;
  &__btn {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0 15px 0 0;

    outline: none;
    cursor: pointer;
    border: none;
    background-color: white;

    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: black;

    transition: 0.3s;
    .dropdown:hover &, &:focus {
      color: #493e00;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 9.51px;
      height: 100%;
      background: url(../img/arrow-dropdown.svg) center/contain no-repeat;

      transition: 0.3s;
      .dropdown:hover &, .dropdown__btn:focus + & {
        transform: rotate(180deg);
      }
    }
  }
  &__body {
    position: absolute;
    z-index: 1;
    min-width: 100%;

    background-color: white;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-5px);

    transition: 0.3s;
    .dropdown:hover &, .dropdown__btn:focus + & {
      opacity: 1;
      transform: translateY(0px);
      pointer-events: painted;
    }
  }
  &__list {
    min-width: 100%;
    margin: 0;
    padding: 0;

    border: 1px dotted #FED600;

    list-style: none;
    & li {
      & a {
        display: block;
        justify-content: flex-start;
        padding: 5px;

        border: none;
        border-radius: 0;

        text-align: left;
        white-space: nowrap;

        font-family: 'OpenSans', sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: black;
        &::after {
          display: none;
        }
      }
      &:hover, &:focus {
        & a {
          background-color: #FED600;
          color: rgba(0, 0, 0, 0.747);
        }
      }
    }
  }
}