.gallery {
  column-width: 300px;
  column-gap: 15px;
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;

    -webkit-column-break-inside: avoid;
    &:not(:first-child) {
      margin-top: 15px;
    }
    & img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}