.input {
  position: relative;
  &__body {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 9px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline:none;

    transition: 0.3s;
    &:focus, &:-webkit-autofill:focus {
      border-bottom: 1px solid blue;
    }
    &.js_error,
    &:-webkit-autofill:focus.js_error,
    &:-webkit-autofill.js_error,
    &:-webkit-autofill:hover.js_error {
      background-color: pink;
      -webkit-box-shadow: 0 0 0px 50px pink inset;
      & + .input__placeholder {
        color: white;
      }
    }
    &:-webkit-autofill, &:-webkit-autofill:hover {
      border-bottom: 1px solid lightgray;
    }
  }
  &__placeholder {
    position: absolute;
    color: rgb(150, 150, 150);
    left: 10px;
    right: 10px;
    top: 0;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;

    font-size: 18px;
    transform: translateY(50%);
    transition: 0.3s;
    .input__body:focus~&, .input__body:not(:placeholder-shown) + &, input:-webkit-autofill + & {
      transform: translateY(0%);
      font-size: 12px;
      color: lightgray;
    }
    .js_error + &,
    .js_error:focus + &,
    .js_error:-webkit-autofill:focus + &,
    .js_error:-webkit-autofill + &,
    .js_error:-webkit-autofill:hover + & {
      color: white;
    }
  }
}