.main-elements {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  &__container {

  }
  &__inner {
    padding: 20px 0;
    grid-row-gap: 30px;
  }
  &__title {
    grid-column: 1/-1;
    display: grid;
    width: 100%;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    &_button {
      grid-column: 1/5;
    }
    &_checkbox {
      grid-column: 5/13;
    }
    &_breadcrumbs {
      grid-column: 1/7;
    }
    &_input {
      grid-column: span 3;
    }
    &_select {
      grid-column: span 3;
    }
    &_jquery {
      grid-column: span 12;
    }
  }
  &__button {

  }
}