.move-up {
  position: fixed;
  z-index: 7;
  bottom: 40px;
  right: 10px;

  width: 60px;
  height: 60px;

  border: none;
  cursor: pointer;
  outline: none;

  background-color: transparent;
  background-image: url(../img/move-up.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80%;
  transform: rotate(180deg);

  visibility: hidden;
  opacity: 0;

  transition: 0.5s;
  &_visible {
    visibility: visible;
    opacity: 1;
  }
  &:after {
    content: 'в начало';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    text-align: center;
    color: $black;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;

    transform: rotate(180deg);

    transition: 0.3s;
    transition-delay: 0.2s;
  }
  &:hover {
    background-position: 50% 80%;
    &:after {
      opacity: 1;
    }
  }
  @include media-mobile {
    bottom: 10px;
    right: 5px;
  }
}