.title {
  & > * {
    margin: 0;

    font-family: 'SFProDisplay', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.19em;
    @include media-tablet-horizontal {
      font-size: 30px;
    }
  }
}