@keyframes onplay {
  0% {opacity: 1; pointer-events: painted;}
  99% {opacity: 0; pointer-events: painted;}
  100% {opacity: 0; pointer-events: none;}
}

.video {
  position: relative;
  overflow: hidden;
  font-size: 0;
  &__field {
    width: 100%;
    height: 100%;
  }
  &__face {
    position: absolute;
    z-index: 1;
    width: 100%; height: 100%;
    top: 0; right: 0; left: 0; bottom: 0;
    
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: url(../img/play-big.svg) center/150px no-repeat, linear-gradient(rgba(173, 216, 230, 0.6), rgba(255, 192, 203, 0.6));

    transition: 0.3s;
    &:hover {
      background: url(../img/play-big.svg) center/170px no-repeat, linear-gradient(rgba(173, 216, 230, 0.6), rgba(255, 192, 203, 0.6));      
    }
    .video_play &, .video_pause & {
      animation-name: onplay;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }
  &__panel {
    display: grid;
    grid-column-gap: 15px;
    padding: 10px 20px;
    grid-template-columns: 40px 40px 1fr 40px;

    position: absolute;
    bottom: 20px; left: 50%;
    width: 90%;
    height: 50px;

    border-radius: 30px;
    background: linear-gradient(45deg, lightblue, pink);
    transform: translateY(100px) translateX(-50%);

    transition: 0.3s ease-out 0.15s;
    .video:not(.video_stop):hover & {
      transform: translateY(0) translateX(-50%);
    }
  }
  &__playpause {
    border-radius: 5px;
    cursor: pointer;
    background: url(../img/play.svg) center/50% no-repeat;
    transition: 0.3s;
    &:hover {
      background: url(../img/play.svg) center/50% no-repeat, linear-gradient(#ffffff66,#ffffff66);
    }
    .video_play & {
      background: url(../img/pause.svg) center/50% no-repeat;
      &:hover {
        background: url(../img/pause.svg) center/50% no-repeat, linear-gradient(#ffffff66,#ffffff66);
      }
    }
  }
  &__stop {
    border-radius: 5px;
    cursor: pointer;
    background: url(../img/stop-button.svg) center/50% no-repeat;
    transition: 0.3s;
    &:hover {
      background: url(../img/stop-button.svg) center/50% no-repeat, linear-gradient(#ffffff66,#ffffff66);
    }
  }
  &__progress {
    position: relative;
    align-self: center;
    height: 20px;

    cursor: pointer;
    overflow: hidden;
    border-radius: 30px;
    background: linear-gradient(-45deg, lightblue, pink);
  }
  &__progress-line {
    position: absolute;
    width: 0;height: 100%;
    top: 0; left: 0;
    background-color: rgba(255, 127, 80, 0.4);
  }
  &__target-line {
    position: absolute;
    width: 0;height: 100%;
    top: 0; left: 0;
    background-color: rgba(230, 224, 173, 0.6);
  }
  &__volume {
    border-radius: 5px;
    cursor: pointer;
    background: url(../img/sound.svg) center/50% no-repeat;
    transition: 0.3s;
    &:hover {
      background: url(../img/sound.svg) center/50% no-repeat, linear-gradient(#ffffff66,#ffffff66);
    }
    &_no-sound {
      background: url(../img/no-sound.svg) center/50% no-repeat;
      &:hover {
        background: url(../img/no-sound.svg) center/50% no-repeat, linear-gradient(#ffffff66,#ffffff66);
      }
    }
  }
}