extends common/layout

block content
  main.main
    include includes/index/main-elements.pug
    include includes/index/sliders.pug
    include includes/index/tabs-section.pug
    include includes/index/gallery-section.pug
    include includes/index/form-section.pug
    include includes/index/full-section.pug
    include includes/index/checks-section.pug
    include includes/index/video-section.pug
    include includes/index/tilt-section.pug
